<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Predicting Charges</title>
        <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='./style.css') }}">
    </head>

    <body>
        <div class="login">
            <h1>Predicting Hospital Charges</h1>
            <!-- Entering the data to predict -->
            <form action="{{ url_for('predict') }}" method="POST">
                <input type="text" name="age" placeholder="Age" required="required">
                <input type="text" name="sex" placeholder="Sex" required="required">
                <input type="text" name="bmi" placeholder="BMI" required="required">
                <input type="text" name="children" placeholder="Children" required="required">
                <input type="text" name="smoker" placeholder="Smoker" required="required">
                <input type="text" name="region" placeholder="Region" required="required">

                <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
            </form>
            <br><br>
        </div>
        <h4>{{ pred }}</h4>
    </body>
</html>